<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>best_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,813},{121,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,56}}</string>
				<key>sourceSize</key>
				<string>{121,56}</string>
			</dict>

			<key>bg_ui.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,180},{550,696}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,696}}</string>
				<key>sourceSize</key>
				<string>{550,696}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,867},{68,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,101}}</string>
				<key>sourceSize</key>
				<string>{68,101}</string>
			</dict>

			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,79},{71,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,74}}</string>
				<key>sourceSize</key>
				<string>{71,74}</string>
			</dict>

			<key>btn_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{947,154},{60,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,81}}</string>
				<key>sourceSize</key>
				<string>{60,81}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,673},{198,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,133}}</string>
				<key>sourceSize</key>
				<string>{198,133}</string>
			</dict>

			<key>btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{197,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,133}}</string>
				<key>sourceSize</key>
				<string>{197,133}</string>
			</dict>

			<key>bubble_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,877},{482,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{482,139}}</string>
				<key>sourceSize</key>
				<string>{482,139}</string>
			</dict>

			<key>bubble_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{599,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{599,69}}</string>
				<key>sourceSize</key>
				<string>{599,69}</string>
			</dict>

			<key>crocodile.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,260},{210,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,412}}</string>
				<key>sourceSize</key>
				<string>{210,412}</string>
			</dict>

			<key>frog.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{72,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,71},{72,78}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>frog_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{898,400},{116,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{116,162}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>frog_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,260},{97,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,48},{97,112}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>frog_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,0},{72,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,71},{72,78}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>game_over.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,180},{395,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,79}}</string>
				<key>sourceSize</key>
				<string>{395,79}</string>
			</dict>

			<key>leaf_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,673},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,139}}</string>
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>

			<key>leaf_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,260},{138,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,139}}</string>
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>

			<key>new_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,813},{84,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,55}}</string>
				<key>sourceSize</key>
				<string>{84,55}</string>
			</dict>

			<key>score_lb.png</key>
			<dict>
				<key>frame</key>
				<string>{{551,807},{166,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,56}}</string>
				<key>sourceSize</key>
				<string>{166,56}</string>
			</dict>

			<key>shiny.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,877},{461,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{461,126}}</string>
				<key>sourceSize</key>
				<string>{461,126}</string>
			</dict>

			<key>touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,70},{577,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,27},{577,58}}</string>
				<key>sourceSize</key>
				<string>{640,100}</string>
			</dict>

			<key>touch_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{569,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,31},{569,50}}</string>
				<key>sourceSize</key>
				<string>{640,100}</string>
			</dict>

			<key>water_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,793},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,30},{72,73}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>water_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,563},{107,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{19,18},{107,102}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>water_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,667},{118,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{12,6},{118,125}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>water_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,538},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,9},{128,128}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>water_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,400},{135,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{135,137}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

			<key>water_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,0},{134,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,2},{134,136}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>