<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_ui.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,0},{550,696}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,696}}</string>
				<key>sourceSize</key>
				<string>{550,696}</string>
			</dict>

			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,75},{68,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,101}}</string>
				<key>sourceSize</key>
				<string>{68,101}</string>
			</dict>

			<key>btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,0},{71,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,74}}</string>
				<key>sourceSize</key>
				<string>{71,74}</string>
			</dict>

			<key>btn_pause.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,177},{60,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,81}}</string>
				<key>sourceSize</key>
				<string>{60,81}</string>
			</dict>

			<key>btn_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,824},{198,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{198,133}}</string>
				<key>sourceSize</key>
				<string>{198,133}</string>
			</dict>

			<key>btn_replay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,413},{197,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{197,133}}</string>
				<key>sourceSize</key>
				<string>{197,133}</string>
			</dict>

			<key>bubble_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,697},{482,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{482,139}}</string>
				<key>sourceSize</key>
				<string>{482,139}</string>
			</dict>

			<key>bubble_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,879},{599,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{599,69}}</string>
				<key>sourceSize</key>
				<string>{599,69}</string>
			</dict>

			<key>crocodile.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,0},{210,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,412}}</string>
				<key>sourceSize</key>
				<string>{210,412}</string>
			</dict>

			<key>frog.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,837},{72,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,71},{72,78}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>frog_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,824},{116,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{116,162}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>frog_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1390,413},{97,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,48},{97,112}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>frog_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,837},{72,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{27,71},{72,78}}</string>
				<key>sourceSize</key>
				<string>{119,165}</string>
			</dict>

			<key>game_over.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,837},{395,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{395,79}}</string>
				<key>sourceSize</key>
				<string>{395,79}</string>
			</dict>

			<key>green_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,878}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{640,878}}</string>
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>

			<key>leaf_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1192,547},{139,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,139}}</string>
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>

			<key>leaf_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1332,547},{138,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,139}}</string>
				<key>sourceSize</key>
				<string>{139,139}</string>
			</dict>

			<key>shiny.png</key>
			<dict>
				<key>frame</key>
				<string>{{1124,697},{461,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{461,126}}</string>
				<key>sourceSize</key>
				<string>{461,126}</string>
			</dict>

			<key>touch.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,949},{577,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{24,27},{577,58}}</string>
				<key>sourceSize</key>
				<string>{640,100}</string>
			</dict>

			<key>touch_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,949},{569,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,31},{569,50}}</string>
				<key>sourceSize</key>
				<string>{640,100}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>game.png</string>
			</dict>
		</dict>
</plist>